body {
  font-family: "Inter", sans-serif;
  background-color:#e9e4ff;
  color:#165634;
  font-weight: 100;
  max-width: 1200px;
  margin: 20px auto;
  
  
.center {
  width: 30%;
  float: center;
  border: 20px solid black;
  padding: 5px;
  background-color: red;
}

.info {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
}

.lorem {
margin: 10 px;
border: 10px solid black;
}
